body{

    background-color: bisque;
}

#formulario{
    border: solid;
    border-radius: 10px;
    outline: 1cm;
    background-color: wheat;
    width: 300px;
    margin: 10px;
    padding: 10px;
}